@import "settings";
@import "tools";

hr {
  border: 1px solid $color-highlight;
  width: 60%;
  @include apply-value-to-props(margin-left margin-right, auto);
  @include spacing(margin-top margin-bottom, xxl);
}

input {
  border: none;
  background-color: $color-highlight;
  color: white;
  text-align: center;
  border-radius: 3px;
  @include spacing(padding, s);
}

button {
  border: 2px solid $color-highlight;
  border-radius: 3px;
  @include spacing(padding-top padding-bottom, s);
  @include spacing(padding-left padding-right, l);
  color: $color-highlight;
  background-color: white;
}
