@import "settings";
@import "tools";

hr {
  border: none;
  height: 2px;
  width: 60%;

  @include background-shade;
  @include apply-value-to-props(margin-left margin-right, auto);
  @include spacing(margin-top margin-bottom, xxl);
}

input {
  border: none;
  border-bottom: 2px solid $color-highlight;
  background-color: white;
  color: $color-highlight;
  text-align: center;
  border-radius: 3px;
  @include spacing(padding, s);
  outline: none;

  &::placeholder {
    color: $color-highlight;
    font-style: italic;
  }
}

button {
  border: 1px solid $color-highlight;
  border-radius: 3px;
  @include spacing(padding-top padding-bottom, s);
  @include spacing(padding-left padding-right, l);
  color: $color-highlight;
  background-color: white;
  outline: none;

  &:hover,
  &:focus {
    background-color: $color-highlight;
    color: white;
    cursor: pointer;
  }
}

a {
  color: $color-highlight;

  &:visited,
  &:hover,
  &:active {
    color: $color-highlight;
  }
}

html {
  overflow-y: scroll;
}
