@import "settings";

.c-page {
  min-height: 100vh;
  padding-bottom: $footer-height;
}

.c-title {
  font-family: 'Playfair Display', serif;
  display: block;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 1px;
}

.c-title--secondary {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 30px;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.c-title--tertiary {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 22px;
}


.c-contact-link {
  vertical-align: middle;
  color: $highlight-2;

  &:hover,
  &:active,
  &:focus{
    color: $shade-1;
  }
}

// --------- Third party -----------
.material-design-icon__svg {
  fill: currentColor;
  display: inline-block;
  vertical-align: top;
}

