@import "settings";
@import "tools";

.c-page {
  min-height: 100vh;
  padding-bottom: $footer-height;
}

.c-title {
  @include title;
}

.c-title--secondary {
  @include title("secondary");
}

.c-title--tertiary {
  @include title("tertiary");
}

// --------- Third party -----------
.material-design-icon__svg {
  fill: currentColor;
  display: inline-block;
  vertical-align: top;
}

