$max-width: 1200px;
$max-width-breakpoint: $max-width * 1.1;

$header-height: 65px;
$footer-height: 56px;

$spacing-base: 4px;

$spacing-modifiers: (
    xs: 1,
    s: 2,
    m: 3,
    l: 4,
    xl: 5,
    xxl: 6,
    xxxl: 7
);

$color-highlight: #76323f;
$color-contrast: #565656;
$color-shade-bold: #c09f80;
$color-shade-light: #d7cec7;

$shade-position: 35%;
$shade-gap: 1%;
$shade-change-position: $shade-position + $shade-gap;
$shade: linear-gradient(110deg, $color-shade-bold $shade-position,rgba(0,0,0,0) $shade-position),
        linear-gradient(110deg, $color-shade-light $shade-change-position, $color-highlight $shade-change-position);
