$max-width: 1200px;
$max-width-breakpoint: $max-width * 1.1;

$header-height: 65px;
$footer-height: 56px;

$spacing-base: 4px;

$spacing-modifiers: (
    xs: 1,
    s: 2,
    m: 3,
    l: 4,
    xl: 6,
    xxl: 8,
    xxxl: 10
);

$color-1: #bfd8d2;
$color-2: #fedcd2;
$color-3: #df744a;
$color-4: #dcb239;


$highlight-1: #5bc1a5;
$highlight-2: #fd6b54;

$shade-1: #373737;

$shade-position: 35%;
$shade-gap: 1%;
$shade-change-position: $shade-position + $shade-gap;
$shade: linear-gradient(110deg, $color-3 $shade-position,rgba(0,0,0,0) $shade-position),
        linear-gradient(110deg, $color-4 $shade-change-position, $color-1 $shade-change-position);
