@import "settings";

$spacing-types: margin padding;
$spacing-directions: top right bottom left;

@each $space-type in $spacing-types {
  @each $space-modifier in map-keys($spacing-modifiers) {

    .u-#{$space-type}-#{space-modifier} {
      @include spacing($space-type, $space-modifier);
    }

    @each $space-direction in $spacing-directions {
      $space-with-direction: #{$space-type}-#{$space-direction};
      .u-#{$space-with-direction}-#{$space-modifier} {
        @include spacing($space-with-direction, $space-modifier);
      }
    }

  }

}
$align-positions: center, left, right;

@each $position in $align-positions {
  .u-align-#{$position} {
    text-align: $position !important;
  }
}

.u-move-below-header {
  padding-top: $header-height
}

.u-full-width {
  @include full-width;
}

.u-full-width-content {
  @include full-width-content;
}

