@import "settings";

$spacing-types: margin padding;
$spacing-directions: top right bottom left;

@each $space-type in $spacing-types {
  @each $space-modifier in map-keys($spacing-modifiers) {

    .u-#{$space-type}-#{space-modifier} {
      @include spacing($space-type, $space-modifier);
    }

    @each $space-direction in $spacing-directions {
      $space-with-direction: #{$space-type}-#{$space-direction};
      .u-#{$space-with-direction}-#{$space-modifier} {
        @include spacing($space-with-direction, $space-modifier);
      }
    }

  }

}
$align-positions: center, left, right;

@each $position in $align-positions {
  .u-align-#{$position} {
    text-align: $position !important;
  }
}

.u-move-below-header {
  padding-top: $header-height
}

.u-full-width {
  @include full-width;
}

.u-full-width-content {
  @include full-width-content;
}

.u-background-color-highlight {
  background-color: $color-1;
  color: #fff;
}
.u-background-color-contrast {
  background-color: $color-2;
  color: #333;
}
.u-background-color-bold {
  background-color: $color-3;
  color: #333;
}
.u-background-color-light {
  background-color: $color-4;
  color: $color-2;
}

.u-color-highlight-1 {
  color: $highlight-1;
}

.u-color-highlight-2 {
  color: $highlight-2;
}

.u-text-mini {
  @include text-mini;
}

